{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/theseus/flpm_box.css')}}">
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xs-12 title" >
        FL Project Manager
    </div>
</div>
<div class="row">
    {% for taskgroupnum in taskgroups %}
        <div class="col-md-{{num_cols}} padnone clearnone taskcol">
            <div class="title">
                <a href="/theseus/{{projectname}}/date?tgs={{taskgroups[taskgroupnum]}}" >{{taskgroups[taskgroupnum]}}</a>
            </div>
        {% for task in tasks %}
            {% if task['data']['group'] == taskgroups[taskgroupnum] %}
                {% include 'theseus/taskbox.html' %}
            {% endif %}
            
        {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock main %}


{% block js %}
<script src="{{url_for('static', filename='js/theseus/flpm_box.js')}}"></script>
{% endblock %}



