{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/theseus/flpm_box.css')}}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12 title">
            {% if len(taskgroups) == 1 %}
            FL Project Manager
            {% endif %}
        </div>
    </div>
    {% for taskgroupnum in taskgroups %}
        <div class="row">
            <div class="col-xs-12 groupview title">
                {{ taskgroups[taskgroupnum] }}
            </div>
            {% for tgcategorynum in tgcategorys %}
                <div class="col-md-{{num_cols}} padnone clearnone taskcol">
                    <div class="title">
                        {{ tgcategorys[tgcategorynum] }}
                    </div>
                {% for task in tasks %}
                    {% if task['data']['date_state'] == tgcategorynum and task['data']['group'] == taskgroupnum%}
                        {% include 'taskbox.html' %}
                    {% endif %}
                    
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor%}
</div>
{% endblock main %}


{% block js %}
<script src="{{url_for('static', filename='js/theseus/flpm_box.js')}}"></script>
{% endblock %}



